@charset "utf-8";
/* CSS Document */

body
{
	background-color:#E3E3E3;
}
.footer
{
	text-align:center;
	color:#8E8E8E;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}